.DS_Store
exercises/ex0/images/fork_details-xp266.png
exercises/ex0/images/fork_entry-xp266.png
exercises/landscape/guardian_gaza.ipynb
/exercises/ex1/k8s-data/.terraform
exercises/ex1/k8s-data/.terraform.lock.hcl
/exercises/k3d/.terraform
exercises/k3d/terraform.tfstate
exercises/k3d/terraform.tfstate.backup
exercises/k3d/.terraform.lock.hcl
