on:
  workflow_dispatch:
    inputs:
      ACTION:
        description: "setup/destroy k3d context"
        required: true
        default: "apply"
        type: "choice"
        options:
          - "apply"
          - "destroy"

## Add shared Environment Variables across jobs here ##
env:
  RUNTIME_ACTION: ${{ inputs.ACTION == 'deploy' && 'apply' || inputs.ACTION }}

  # RUNTIME_CONTEXT_WORKSPACE: "runtime-context-${{ inputs.runtime_context_name }}-${{ github.event.inputs.GLOBALACCOUNT }}"
  # RUNTIME_WORKSPACE: "k3d-context-${{ inputs.runtime_context_name }}-${{ github.event.inputs.GLOBALACCOUNT }}"
  RUNTIME_WORKSPACE: 'k3d-context'
  # PROVIDER_WORKSPACE: "provider-context-${{ github.event.inputs.GLOBALACCOUNT }}" 

  CONFIG_DIRECTORY: "./exercises/k3d"
  PATH_TO_TFSCRIPT: './exercises/k3d/'

  GITHUB_OWNER: "fp-stakeholder-management"
  NAMESPACE: kro-010

"jobs":
  "k3d-setup":
    "runs-on":
    - "ubuntu-latest"  
    "steps":
    # - name: "setup-k3d"
    #   uses: rinx/setup-k3d@v0.0.4
    #   with:
    #     skipClusterCreation: "true"
    - name: "setup-k3d"
      uses: nolar/setup-k3d-k3s@v1
      with:
        skip-creation: "true"
        github-token: ${{ secrets.GITHUB_TOKEN }}


    - "name": "Check out Git repository"
      "uses": "actions/checkout@v4"

    - "name": "install kyma cli"
      uses: kyma-project/setup-kyma-cli@v1
      with:
        version: latest
        # token: "${{ secrets.CICD_TOKEN_FOR_TF_MODULES }}"
        # target-dir: ${{ github.workspace }}/cli
    
    - name: Setup Terraform
      id : setup_terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_wrapper: false
        terraform_version: latest

    - name: Terraform Init
      id: terraform_init
      shell: bash
      run: |
        wget -qO- https://ipecho.net/plain ; echo

        export CONFIG_DIRECTORY=${{ env.CONFIG_DIRECTORY }}

        export TF_REGISTRY_CLIENT_TIMEOUT=30s
        export TF_REGISTRY_DISCOVERY_RETRY=10
        export TF_STATE_PERSIST_INTERVAL=100 ## https://developer.hashicorp.com/terraform/cli/config/environment-variables#tf_state_persist_interval

        # echo "machine github.com login ${{ env.CICD_REPO_USERNAME_FOR_TF_MODULES }} password ${{ env.CICD_TOKEN_FOR_TF_MODULES }}" > ~/.netrc
        # cat ~/.netrc
        # git config --global url.https://github.com/.insteadOf git://github.com/
        # git config --global advice.detachedHead false

        terraform workspace select -or-create ${{ env.RUNTIME_WORKSPACE }} || echo "Workspace ${{ env.RUNTIME_WORKSPACE }} already exists or cannot be created"

        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} init -upgrade -no-color
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}
      # env:
      #   CICD_TOKEN_FOR_TF_MODULES: ${{ secrets.CICD_TOKEN_FOR_TF_MODULES }}
      #   CICD_REPO_USERNAME_FOR_TF_MODULES: ${{ vars.CICD_REPO_USERNAME_FOR_TF_MODULES }}


    - name: Terraform Apply 
      id: terraform_apply
      shell: bash
      run: |
        # curl -s https://raw.githubusercontent.com/rancher/k3d/main/install.sh
        # k3d --version
        export TF_REGISTRY_CLIENT_TIMEOUT=30s
        export TF_REGISTRY_DISCOVERY_RETRY=10
        export TF_STATE_PERSIST_INTERVAL=100

        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}
        export CONFIG_DIRECTORY=${{ env.CONFIG_DIRECTORY }}

        export GITHUB_OWNER=${{ env.GITHUB_OWNER }}
        export GITHUB_TOKEN=${{ secrets.PAT_GITHUB_TOOLS_SAP }}

        # export TF_VAR_runtime_context_workspace=${{ env.RUNTIME_CONTEXT_WORKSPACE }}
  
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} ${{ env.RUNTIME_ACTION }} \
        -auto-approve -no-color

    - name: Get cluster info
      run: |
        kubectl cluster-info
        kubectl get pods -n kube-system
        kubectl get nodes
        echo "current-context:" $(kubectl config current-context)

        kubectl wait pods -n $NAMESPACE --for=condition=ready --timeout=120s
        curl -sk  https://kro-001-httpbin-kro.local.kyma.dev/headers
        curl -sk  https://kro-010-httpbin-kro.local.kyma.dev/headers

    - name: Terraform Output # https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#steps-context
      id: terraform_output
      shell: bash
      run: |
        terraform workspace select ${{ env.RUNTIME_WORKSPACE }}
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}

        #terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} state list
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} output

        kyma_kubeconfig=$(terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} output -raw kyma_kubeconfig)
        echo 'kyma_kubeconfig<<EOF' >> $GITHUB_OUTPUT
        echo "$kyma_kubeconfig" >> $GITHUB_OUTPUT
        echo 'EOF' >> $GITHUB_OUTPUT


    - "name": "Fire-fighter access"
      "run": |
        echo -e "*********** Time-boxed, cluster-wide access ********************\n"
        kyma alpha kubeconfig generate --serviceaccount $NAMESPACE-sa --clusterrole cluster-admin --namespace $NAMESPACE --cluster-wide --time 1h > $NAMESPACE-sa.yaml

        echo -e "\nList of pods with: $NAMESPACE-sa.yaml\n"
        kubectl get pods -n $NAMESPACE --kubeconfig ./$NAMESPACE-sa.yaml


        echo "timeboxed_kubeconfig as string"
        timeboxed_kubeconfig=$(cat ./$NAMESPACE-sa.yaml)
        echo 'timeboxed_kubeconfig<<EOF' >> $GITHUB_OUTPUT
        echo "$timeboxed_kubeconfig" >> $GITHUB_OUTPUT
        echo 'EOF' >> $GITHUB_OUTPUT

    - "name": "Fire-fighter Read-only access"
      "run": |
        echo -e "*********** Time-boxed, cluster-wide read-only access ********************\n"
        kyma alpha kubeconfig generate --serviceaccount $NAMESPACE-sa-view-all --clusterrole view --namespace $NAMESPACE --cluster-wide --time 1h > $NAMESPACE-sa-view-all.yaml

        echo -e "\nList of pods with: $NAMESPACE-sa-view-all.yaml\n"
        kubectl get pods -n $NAMESPACE --kubeconfig ./$NAMESPACE-sa-view-all.yaml

"name": "k3d-admin-context"

"permissions":
  "contents": "read"
  "id-token": "write"
