"jobs":
  "apply-manifest":
    "runs-on":
    - "self-hosted"
    - "solinas-ubuntu_22_04"
    "steps":
    - name: Install Helm
      uses: azure/setup-helm@v4

    - "name": "Setup Kube Context"
      "uses": "azure/k8s-set-context@v4"
      "with":
        "kubeconfig": |
          {"apiVersion":"v1","clusters":[{"cluster":{"certificate-authority-data":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ1akNDQWs2Z0F3SUJBZ0lRZWprOGN3VlRMRjVoNnlmR3V1V1lLekFOQmdrcWhraUc5dzBCQVFzRkFEQU4KTVFzd0NRWURWUVFERXdKallUQWVGdzB5TlRFd01ERXdPRE13TlRkYUZ3MHpOVEV3TURFd09ETXhOVGRhTUEweApDekFKQmdOVkJBTVRBbU5oTUlJQm9qQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FZOEFNSUlCaWdLQ0FZRUF4YnRFCm9ONmIvajQ3UUUzWVhtSkVHY3d0NFJwOWljeFFLZkkwYVVIejlUL0JQS3JTbzZIK25YNEJ0MTMwTktPMS9TVjQKWFFXdG9SdGFGSU9NNzFndXhzK3NudGlWOFZyOS9teXJXdUlrZkxrQWgvMTBHZ3pwQnNtaWNXY3YwZ1ZYQkR3bAprSXo1V1NkUDFDYThWVTZIZnRWdHVpZThKbVFsR3NLU0lMU0dnd0hWM2s2V3pIWk9QdmZxV3BxUGdqU1FzbWFYCktmQ1lmaWFJM20zbjlnSm0rb0VCeW82RklkaXRacTkwUVN3RGk5c3o0T2JlR1VWWVBMK1YwMXgxZ3c1RFJnVk8KQXNON2lVVnlIbVhMRHZ1d1F4Z0dhRTVTUzVTZzhIQ2lHUDhNcktzVDhRdDZQV1hZSmdNbnJwdDIxdDltOTFhdgo2cUF4NVNObERKeFJFMiszY1hGODJWNGs1UjJEeUdFK3M4UzJTQk1sSTdtRDVwYmxlVWJBVWZuejQ3Uy9nVXBJClpUNjNPWkZLUnNWYndteHpjbmRxN0FFTzM0a2kzS1pVNDZ0c2FHRXlHalNJQVJHSzdsS2p5OGkvVDNEeS9qRmEKUy81ejNKaGU4YjMyd1BjOHprcEJMUFNUMjVXYWVVa0dmUXhMYmQ5cVgrQUVncjdXdk5LV0VuNGYxSEVaQWdNQgpBQUdqUWpCQU1BNEdBMVVkRHdFQi93UUVBd0lCcGpBUEJnTlZIUk1CQWY4RUJUQURBUUgvTUIwR0ExVWREZ1FXCkJCUVJhOE9vT2U3UjkrQnFFU2ZNNktFbnNaK1JIakFOQmdrcWhraUc5dzBCQVFzRkFBT0NBWUVBaTJCZmRqWCsKZHh5RzVsSGxBb2xYME9iWS9RNVNnaXdaOVR3Y3ltSmx0YldiMUt2MzFQMzVOSmQvS0ViK2cwRXZ4cnNJMGJFVwo1ekJrbjczMnFxZWQweENudWIwYkdhNkN0WGwzV3o4V3JZTko2WWNkY2FjNVd5Q2o4VXlQbjBpQWdvM0JXMHdxCkFrazVvZzB4OW9aZmgxVnRZcHc1MnhhY1l0NkxSVlhTc28zN2RaVk11TGdNYVFyM3NjMzhZTnVCSEhCOUthMGYKdmpZSnJ4VjhvQlcxc0tyZkllRXdEYktiQ3p3WVdwblNrMXVBMkVlbUIxeWRZKzRVSjkvUFhnUjlZOWxOZWljLwpJMENpS0NFOGdHRDFTUk1WcXJJcUFnRzdhY1pIQ0NzQ09DOGovTWZMY1N0eDZyNUVDWm9xWDVZKzdJWGkzcFFLCmhBVVJBMzcyRWZ2R2IrbFZHanI4cW84RHJBQ3JCY2thK0JwTTZOM3g1Q1V2MVd6ek93ck51Q0VrOHdZZEtPZEMKdUxsb1hWMFlPQUd4Vzc5KzYrVS8zQkdOOGZGUXgyRE1ESGRJOUl0NTY0bDd4OXBISWxUK2tzbExZV2pyUkNCaQpINnREZWNQNnVacmRVZGxYaVRwT1BsM21Mc1ZRSWtOSWo1dUVEbzhXZ2hGNW96VmxodVdtZWVwQwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==","server":"https://api.a135822.kyma.ondemand.com"},"name":"garden-kyma--a135822-external"}],"contexts":[{"context":{"cluster":"garden-kyma--a135822-external","user":"garden-kyma--a135822-external"},"name":"garden-kyma--a135822-external"}],"current-context":"garden-kyma--a135822-external","kind":"Config","users":[{"name":"garden-kyma--a135822-external","user":{"exec":{"apiVersion":"client.authentication.k8s.io/v1","args":["-c","set -e -o pipefail\nOIDC_URL_WITH_AUDIENCE=\"$ACTIONS_ID_TOKEN_REQUEST_URL\u0026audience=gh-teched-c647f060-c641-46ed-9184-907a99c79954-${{ github.event.inputs.NAMESPACE }}\"\nIDTOKEN=$(curl -sS \\\n  -H \"Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN\" \\\n  -H \"Accept: application/json; api-version=2.0\" \\\n  \"$OIDC_URL_WITH_AUDIENCE\" | jq -r .value)\n# Print decoded token information for debugging purposes\necho ::debug:: JWT content: \"$(echo \"$IDTOKEN\" | jq -c -R 'split(\".\") | .[1] | @base64d | fromjson')\" \u003e\u00262\nEXP_TS=$(echo $IDTOKEN | jq -R 'split(\".\") | .[1] | @base64d | fromjson | .exp')\nEXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)\n# return token back to the credential plugin\ncat \u003c\u003c EOF\n{\n  \"apiVersion\": \"client.authentication.k8s.io/v1\",\n  \"kind\": \"ExecCredential\",\n  \"status\": {\n    \"token\": \"$IDTOKEN\",\n    \"expirationTimestamp\": \"$EXP_DATE\"\n  }\n}\nEOF\n"],"command":"bash","interactiveMode":"Never"}}}]}
        "method": "kubeconfig"
    - "name": "check permissions"
      "run": |
        kubectl auth can-i --list --namespace $NAMESPACE
        kubectl auth can-i get gateways --namespace $NAMESPACE
        kubectl auth can-i create apirules --namespace $NAMESPACE
        echo "make sure can acess kyma-system gateway"
        kubectl auth can-i get gateways -n kyma-system
        echo "make sure can acess all gateways cluster-wide"
        kubectl auth can-i get gateways -A 
        kubectl get gateways -A    
        kubectl get pod -n $NAMESPACE
        kubectl get secrets -n $NAMESPACE

        # kubectl get nodes
        # kubectl get pod -A
        # kubectl get -n kyma-system kymas default -o json | jq '.spec.modules[] '
        # kubectl get cm/shoot-info -n kube-system -o json | jq .data
        # kubectl get openidconnect
        # kubectl get cm/kyma-provisioning-info -n kyma-system -ojsonpath='{.data.details}'

    - "name": "check api-resources"
      "run": |
        kubectl api-resources -o wide -n $NAMESPACE
        #for kind in `kubectl api-resources | tail +2 | awk '{ print $1 }' | sort`; do kubectl explain $kind ; done | grep -e "KIND:" -e  "VERSION:" | awk '{print $2}' | paste -sd' \n'

    # GitHub Action reference: https://github.com/jupyterhub/action-k8s-namespace-report
#    - name: Kubernetes namespace report
#      uses: jupyterhub/action-k8s-namespace-report@v1
#      if: always()
#      with:
#       namespace: $NAMESPACE
      #   pod-selector: app.kubernetes.io/component notin (secret-server,boring-server)
      #   important-workloads: deploy/my-deployment sts/my-statefulset

    - "name": "kyma cli 3.1.2"
      "run": |
        echo "Installing kyma cli..."
        curl -sSL "https://github.com/kyma-project/cli/releases/download/3.1.2/kyma_Linux_x86_64.tar.gz" |  tar -xzv kyma
        ./kyma --help

        echo "deploy a docker image and expose it via an API Rule v2"
        kubectl delete all -l app.kubernetes.io/name=httpbin-$NAMESPACE -n $NAMESPACE
        ./kyma app push --name httpbin-$NAMESPACE --image kennethreitz/httpbin --istio-inject true --expose --container-port 80 --namespace $NAMESPACE

"name": "trial-runtime-c647f060-c641-46ed-9184-907a99c79954-xp264"
"on":
  "workflow_dispatch": 
    inputs:
      NAMESPACE:
        description: "students namespace"
        required: true
        default: "xp264-050"
        type: "choice"
        options:
          - "xp264-001"
          - "xp264-002"
          - "xp264-003"
          - "xp264-004"
          - "xp264-005"
          - "xp264-006"
          - "xp264-007"
          - "xp264-008"
          - "xp264-009"
          - "xp264-010"
          - "xp264-011"
          - "xp264-012"
          - "xp264-013"
          - "xp264-014"
          - "xp264-015"
          - "xp264-016"
          - "xp264-017"
          - "xp264-018"
          - "xp264-019"
          - "xp264-020"
          - "xp264-021"
          - "xp264-022"
          - "xp264-023"
          - "xp264-024"
          - "xp264-025"
          - "xp264-026"
          - "xp264-027"
          - "xp264-028"
          - "xp264-029"
          - "xp264-030"
          - "xp264-031"
          - "xp264-032"
          - "xp264-033"
          - "xp264-034"
          - "xp264-035"
          - "xp264-036"
          - "xp264-037"
          - "xp264-038"
          - "xp264-039"
          - "xp264-040"
          - "xp264-041"
          - "xp264-042"
          - "xp264-043"
          - "xp264-044"
          - "xp264-045"
          - "xp264-046"
          - "xp264-047"
          - "xp264-048"
          - "xp264-049"
          - "xp264-050"
## Add shared Environment Variables across jobs here ##
env:
  NAMESPACE: "${{ github.event.inputs.NAMESPACE }}"
"permissions":
  "id-token": "write"
